body {
	background: #fff;
	
	/*font-family: 'Carrois Gothic SC', sans-serif,;
*/

	font-family: 'Josefin Sans', sans-serif;
	
	font-size: 1.5em;
	text-align: center;
}

h1{
	font-weight: lighter;
	margin-top:20%;

	color:#fff;
	background: #33E5CF;
	border-top: solid 1px #ADAA8C;
	border-bottom: solid 1px #ADAA8C;
	padding-bottom: .4em;
}


ul{
	
	
	font-size: .5em; 
	font-style: italic;
}

a{
	
	text-decoration: none;
	color:#8C855D;
	margin-left: 0px;
	padding: 10px;


	transition: all .75s;
}

a:hover {
	color:#33E5CF;
	font-size: 2em;
	

}

a:visited {
	color:#33E5CF;
}
